# Source - https://stackoverflow.com/a
# Posted by Aincvy, modified by community. See post 'Timeline' for change history
# Retrieved 2025-12-03, License - CC BY-SA 4.0

CompileFlags: # Tweak the parse settings, example directory given to show format
  Add:
    # - "-I=[folder]"         # old answer
    - "-I./src"            # e.g `-I/usr/include/SDL2`  suggested from @Palmkeep
    - "--include-directory=./src"