#include "Entities.hpp"

const Data::EntityData *Data::ENTITIES[{{ entities|length }}] {
{% for entity in entities %}
    // {{ loop.index - 1 }}
    new Data::{{ entity.type }} {
        {
            { {{- entity.obj.x }}, {{ entity.obj.y -}} },
            Data::EntityData::Type::{{ entity.type|upper }},
            {{ loop.index - 1 }},
        },
    {% if entity.obj.room_x is defined and entity.obj.room_y is defined %}
        { {{- entity.obj.room_x }}, {{ entity.obj.room_y -}} },
    {% endif %}
    {% if entity.obj.door_id is defined %}
        {{ entity.obj.door_id }},
    {% endif %}
    {% if entity.obj.num_artifacts is defined %}
        {{ entity.obj.num_artifacts }},
    {% endif %}
    {% if entity.obj.collection_id is defined %}
        {{ entity.obj.collection_id }},
    {% endif %}
    {% if entity.obj.npc_id is defined %}
        {{ entity.obj.npc_id }},
    {% endif %}
    {% if entity.obj.enemy_id is defined %}
        {{ entity.obj.enemy_id }},
    {% endif %}
    },
{% endfor%}
};

{{ "Bitfield<Data::ENTITY_COUNT> Data::interactedEntities {};" }}
